body {
    background: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

nav a {
    margin: 0 12px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

nav a.active {
    color: #4a6cf7;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.greeting {
    font-size: 20px;
    margin-bottom: 20px;
}

.card {
    background: #fafafa;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 25px;
    border: 1px solid #eee;
}

.progress-bar {
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 20px;
    margin: 12px 0;
}

.progress-fill {
    height: 8px;
    width: 50%;
    background: #2d6cdf;
    border-radius: 20px;
}

.success {
    color: #1cbf33;
    font-weight: 600;
}

.achievements {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.mis-logros{
    text-align: center;
}
.achievement-item {
    text-align: center;
    color: #777;
}

.achievement-item img {
    width: 80px;
    opacity: 0.3;
    border-radius: 50px;
}

.achievement-item.active img {
    opacity: 1;
}

.achievement-item.active {
    color: #333;
}