body {
    font-family: Arial, sans-serif;
    background: #f7f9fc;
    margin: 0;
    padding: 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.perfil-btn {
    background: #1667ff;
    color: white;
    padding: 10px 18px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.container {
    max-width: 850px;
    margin: 40px auto;
    padding: 0 20px;
}

h1 {
    font-size: 40px;
    margin-bottom: 25px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.subtitle {
    margin: 8px 0 15px;
    color: #444;
}

.meta {
    color: gray;
    font-size: 14px;
    margin-top: 5px;
}

.ver {
    color: #1667ff;
    font-weight: 600;
    text-decoration: none;
}

.footer-card {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: gray;
    font-size: 15px;
}